* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar:active {
  background: rgba(0, 0, 0, 0.2);
}
